body {
  font-size: 54px;
  font-weight: bold;
  padding: 50px;
  margin: 0;
  font-family: Arial, sans-serif;
}

.section {
  display: flex;
  justify-content: center; 
  align-items: center;     
  text-align: center;     
  height: 100%;            
  width: 100%;             
}

.float-header {
  width: 100%;
  height: 150px;
  background-color: #4db4c8;
}

.float-main {
  float: left;
  width: 70%;
  height: 525px;
  background-color: #a7cf6c;
}

.float-side {
  float: right;
  width: 30%;
  height: 525px;
  background-color: #57734a;
}

.float-footer {
  clear: both;
  width: 100%;
  height: 125px;
  background-color: #40e6ba;
}

.flex-wrapper {
  margin-top: 10vh;
}


.flex-header {
  width: 100%;
  height: 150px;
  background-color: #4db4c8;
}

.flex-body {
  display: flex;
}

.flex-main {
  width: 70%;
  height: 525px;
  background-color: #a7cf6c;
}

.flex-side {
  width: 30%;
  height: 525px;
  background-color: #57734a;
}

.flex-footer {
  width: 100%;
  height: 125px;
  background-color: #40e6ba;
}
